.main-app {
  margin-top: 20px;
  background-image: linear-gradient(160deg, #0093e9 0%, #4942e4 100%);
  height: 400px;
  width: 300px;
  border-radius: 10px;
  box-shadow: 6.5px 8px 5px -1.5px #1a1919;
}

.subtitle {
  font-size: 13px;
  text-align: center;
}

.display-conditions {
  display: flex;
  justify-content: center;
  align-items: center;
}

#weather-condition {
  flex-direction: column;
  text-align: center;
}

.weather-data-block {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.weather-item > img {
  width: 150px;
  height: 150px;
}

.weather-description {
  font-size: 25px;
}

.weather-item {
  padding: 10px;
}

.location {
  font-size: 14px;
}

.temp-data,
.weather-description {
  text-shadow: 2px 2px 2px #1a1919;
  font-weight: bold;
}

.temp-data,
.temp-description {
  text-align: center;
}

.temp-data {
  font-size: 20px;
  text-shadow: 2px 2px 2px #1a1919;
}

.temp-description {
  font-size: 10px;
}

.display-msg {
  text-align: center;
}

button:hover {
  transform: scale(1.2);
}
