.subtitle {
  font-size: 13px;
  text-align: center;
}

.display-conditions {
  display: flex;
  justify-content: center;
  align-items: center;
}

.weather-data-block {
  display: flex;
  align-items: center;
  justify-content: center;
}

.weather-item > img {
  width: 100px;
  height: 100px;
}

.weather-description {
  font-size: 25px;
}

.weather-item {
  padding: 10px;
}

.location {
  font-size: 14px;
}

.temp-data,
.temp-description {
  text-align: center;
}

.temp-data {
  font-size: 25px;
}

.temp-description {
  font-size: 13px;
}

.display-msg {
  text-align: center;
}
