body {
  background-color: #ffff;
}

header {
  display: block;
  padding: 10px;
  border-bottom: 2px solid #ff5400;
  margin-bottom: 20px;
}

a {
  text-decoration: none;
  color: #000;
}

#main-content,
.header-wrapper {
  margin: auto;
  width: 90%;
}

.header-wrapper {
  align-items: center;
  gap: 20px;
}

#main-content {
  padding: 10px;
}

.header-title > a > h2 {
  font-size: 20px;
  color: #f4641d;
}

.header-title > a:hover {
  text-decoration: none;
}

.header-subtitle > p,
header a {
  font-size: 10px;
  color: #463f3f;
}

a:hover {
  text-decoration: underline;
}

.market-data {
  font-size: 12px;
}

.highlight {
  color: #f4641d;
  text-decoration: underline;
}

#search {
  display: none;
}

input {
  background-color: #d7d2d2;
  width: 100%;
  border: none;
}

.form-item {
  display: flex;
  padding: 0;
  gap: 10px;
}

button {
  background-color: #ff5400;
  color: #ffff;
}

.spinner {
  border: 6px solid #ff5400;
  border-color: #ff5400 transparent #ff5400 transparent;
}

section {
  margin-bottom: 20px;
}

.section-title {
  margin-bottom: 15px;
}

#market-summary > .section-content,
.summary-group {
  gap: 20px;
}

.summary-item {
  flex-direction: column;
  justify-content: center;
  border-radius: 5px;
  border-left: 5px solid #f4641d;
  text-align: left;
  padding: 10px;
  width: 250px;
  box-shadow: 3px 3px 5.5px 3.5px #c0b9b9;
  flex-grow: 1;
}

.crypto-market-info > .d-flex,
article {
  gap: 10px;
}

.item-data {
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 10px;
  margin-top: 10px;
}

.item-label {
  font-size: 12px;
  color: #463f3f;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th {
  border-top: 1px solid #b3b3b3;
  border-bottom: 1px solid #b3b3b3;
  color: #f4641d;
  padding: 5px;
  text-align: left;
}

thead {
  position: sticky;
  top: 0;
  background-color: #ffff;
}

td {
  padding: 10px;
  border-bottom: 1px solid #b3b3b3;
}

tbody > tr:hover {
  background-color: #e1e0e0;
}

.crypto-img {
  width: 20px;
  height: 20px;
}

.crypto-identity {
  align-items: center;
  gap: 10px;
}

.symbol,
.display-time {
  color: #8a8585;
  font-size: 10px;
}

.crypto-description {
  text-align: justify;
  font-size: 14px;
  line-height: 1.5rem;
}

.crypto-description > a {
  color: #f4641d;
}

.coin-name,
.coin-price,
.rank {
  font-weight: bold;
}

.coin-name {
  font-size: 20px;
}

.coin-price {
  font-size: 30px;
}

.rank {
  background-color: #f4641d;
  border-radius: 2px;
  padding: 3px;
  color: #ffff;
  font-size: 11px;
}

.block-item img {
  width: 50px;
  height: 50px;
}

.market-info-item {
  align-items: center;
  border-bottom: 1px solid #8a8585;
  gap: 10px;
}

.section-content > .market-info-item {
  margin-bottom: 5px;
  border: none;
}

#statistics {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #f4641d;
  background-color: #f1f5f9;
  flex-grow: 1;
}

.market-info-item > .item-label {
  font-size: 15px;
}

@media only screen and (max-width: 1150px) {
  #market-summary > .section-content {
    flex-direction: column;
  }
}

@media only screen and (max-width: 925px) {
  article {
    flex-direction: column;
  }
}

@media only screen and (max-width: 670px) {
  .crypto-market-info > .block:nth-child(2) {
    flex-direction: column;
    gap: 0;
  }
}

@media only screen and (max-width: 865px) {
  table {
    display: block;
    overflow-x: auto;
  }

  td:not(:nth-child(2)) {
    white-space: nowrap;
  }
}

@media only screen and (max-width: 600px) {
  .summary-group:nth-child(1) {
    flex-direction: column;
  }

  td,
  th {
    font-size: 15px;
  }

  .sticky-col {
    position: sticky;
    background-color: #ffff;
  }

  .first-col {
    left: 0;
  }

  .second-col {
    left: 45px;
  }

  .summary-item {
    width: 100%;
  }

  table {
    display: block;
    overflow-x: auto;
  }
}

@media only screen and (max-width: 550px) {
  .header-item:nth-child(2) {
    display: none;
  }

  #search {
    display: block;
  }
}
