* {
  color: #ffff;
}

body {
  background-color: #061a34;
}

.wrapper,
#game-header,
#btn-container {
  display: flex;
}

.wrapper {
  justify-content: center;
  margin-top: 20px;
}

#game-header {
  margin-bottom: 5px;
  align-items: center;
}

#game-stats {
  margin-bottom: 10px;
  margin-left: 10px;
}

.game-header-item {
  margin-right: 10px;
}

#game-body {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 5px;
  height: 400px;
  width: 400px;
}

.block {
  background-color: #223c51;
  border: 1px solid #279eff;
  border-radius: 5px;
  font-size: 100px;
  text-align: center;
  min-height: 130px;
}

.block:hover {
  cursor: pointer;
  transform: scale(1.006);
}

#btn-container {
  justify-content: center;
}

#btn-container > button {
  margin-top: 20px;
  margin-right: 10px;
  padding: 10px;
}

#display-result {
  display: none;
  background-color: #00dfa2;
  padding: 3px;
  font-weight: bold;
  border-radius: 2px;
  text-shadow: 2px 1px#17594a;
}

@media only screen and (max-width: 600px) {
  #game-body {
    height: 200px;
    width: 320px;
  }

  #btn-container {
    margin-top: 200px;
  }

  #display-result {
    font-size: 12px;
  }
}
