main {
  width: 65%;
  margin: auto;
  color: #ffff;
}

a {
  text-decoration: none;
  color: #ffff;
}

article,
nav {
  margin-left: auto;
  margin-right: auto;
}

#profile {
  justify-content: center;
  margin-top: 40px;
  align-items: center;
  gap: 50px;
}

#image-content img {
  border-radius: 100%;
  border: 2px solid #279eff;
  animation: pulse 2s infinite;
}

.block {
  margin-bottom: 10px;
}

#profile-content > .block:nth-child(1) {
  color: #a7a8a9;
  font-weight: bold;
  margin-bottom: 20px;
}

#profile-content > .block:nth-child(2) {
  color: #ffff;
  font-size: 4rem;
}

#profile-content > .block:nth-child(3) {
  color: #279eff;
  font-size: 2rem;
}

#profile-content > .block:nth-child(4) {
  color: #a7a8a9;
  font-size: 0.85rem;
  line-height: 1.5rem;
}

#social {
  gap: 10px;
}

.social-item {
  height: 40px;
  width: 40px;
}

nav {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 10px;
  font-weight: bold;
  gap: 10px;
  color: #ffff;
}

.nav-item {
  padding: 10px;
}

.nav-item:hover {
  cursor: pointer;
}
.nav-active {
  color: #279eff;
  border-bottom: 1px solid #279eff;
}

#portfolio-content {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

#portfolio-content > section {
  margin-top: 20px;
  margin-bottom: 20px;
}
#about-me,
#tech {
  width: 80%;
}

#about-me {
  font-size: 1rem;
  text-align: justify;
  color: #dedada;
  line-height: 2rem;
}

#tech > .section-content,
#certs,
#projects {
  flex-wrap: wrap;
}

#tech > .section-title {
  text-align: center;
  margin-bottom: 20px;
}

#tech > .section-content {
  gap: 15px;
  justify-content: center;
}

#tech img {
  width: 60px;
  height: 60px;
}

.tech-item {
  text-align: center;
  font-size: 0.85rem;
  padding: 5px;
}

#projects {
  gap: 10px;
  justify-content: center;
}

.project-item {
  flex-direction: column;
  width: 200px;
  height: 360px;
  font-size: 0.85rem;
  background-color: #3e3e3e;
  gap: 5px;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
}

.project-item > div {
  height: 50%;
}

.project-content {
  margin-top: 10px;
  width: 100%;
}

.project-title {
  margin-bottom: 10px;
}

.project-description {
  color: #dedada;
  text-align: justify;
  line-height: 1.5rem;
}

.img-wrapper {
  border-radius: 5px;
  overflow: hidden;
}

.img-wrapper > div {
  width: 200px;
  height: 200px;
  background-size: cover;
  transition: all 0.5s;
}

#weather-app {
  background-image: url("/img/projects/weather_app.png");
}

#todo-app {
  background-image: url("/img/projects/todo_app.png");
}

#tic-tac {
  background-image: url("/img/projects/tic_tac_toe.png");
}

#crypto {
  background-image: url("/img/projects/crypto_current.png");
}

.img-wrapper > div:hover {
  transform: scale(1.5);
}

#certs {
  gap: 20px;
  justify-content: center;
}

.cert-item {
  gap: 10px;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.cert-item > img {
  height: 125px;
  width: 125px;
}

.cert-item > a {
  font-size: 0.75rem;
}

.cert-item > a:hover {
  text-decoration: underline;
}

.ext-link {
  background-color: #6cde58;
  font-weight: bold;
  max-width: max-content;
  padding: 3px;
  align-items: center;
  border-radius: 5px;
  font-size: 10px;
  margin-top: 5px;
  gap: 5px;
}

.ext-link-item > img {
  height: 15px;
  width: 15px;
}

@media only screen and (max-width: 1100px) {
  #profile-content > .block:nth-child(1) {
    font-size: 0.75rem;
  }

  #profile-content > .block:nth-child(2) {
    font-size: 2rem;
  }

  #profile-content > .block:nth-child(3) {
    font-size: 1.4rem;
  }

  #profile-content > .block:nth-child(4) {
    color: #a7a8a9;
    font-size: 0.85rem;
    line-height: 1.5rem;
  }

  #tech,
  #about-me {
    width: 100%;
  }
}

@media only screen and (max-width: 750px) {
  main {
    width: 80%;
  }

  #profile {
    gap: 15px;
  }

  #profile-content > .block:nth-child(1) {
    display: none;
  }

  #profile {
    flex-direction: column;
    text-align: center;
  }

  .nav-item {
    font-size: 0.75rem;
    padding: 5px;
  }

  #about-me {
    font-size: 0.85rem;
    line-height: 1.5rem;
  }

  #tech img {
    width: 60px;
    height: 60px;
  }

  #tech p {
    font-size: 0.75rem;
  }

  .cert-item > img {
    height: 90px;
    width: 90px;
  }

  .cert-item > p {
    font-size: 0.65rem;
  }
}

@keyframes pulse {
  from {
    box-shadow: 0 0 0 0 #279eff;
  }

  to {
    box-shadow: 0 0 0 10px rgba(24, 23, 23, 0);
  }
}
